.cabecalho{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #03071E;
    width: 100%;
    height: 80px;
}

.cabecalho-botao a{
    margin: 3px;
    color: #fff;
    border: 5px solid #FCA311;
    padding: 5px;
    text-transform: uppercase;
}
h1{
    color: #fff;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}
